VITE_API_BASE=https://shiv-furniture-house-gkgx.onrender.com

# VITE_API_BASE=http://localhost:3000
VITE_UPI_ID=bharatsingh1102005-1@oksbi
VITE_MERCHANT_NAME=Shiv%20Furniture%20House

# Google Sign-In
VITE_GOOGLE_CLIENT_ID=647114645098-0b5bi5shosk8vcedeom6jo9s0d9l8v9g.apps.googleusercontent.com
